/* input[type=text], select, textarea {
    background-color: #E7E7E7;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
} */
input[type=name], groupName{
    width: 10%;
    background-color: #E7E7E7;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    margin-left: 1%;
}
input[type=number], members{
    width: 4%;
    background-color: #E7E7E7;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    margin-left: 1%;
}
.box{
    display: flex;
    flex-direction: column;
}
.addContact{
    margin-left: 1%;
}