@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap");

.border {
    margin-left: 2vw;
    margin-top: 2vw;
    width: 96vw;
    height: 100%;
    background-color: black;
}

table {
    width: 100%;
    border-radius: 10px;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0 10px;
}

td {
    background-color: #f8fbff;
    margin-bottom: 10px;
    padding-left: 40px;
}

th {
    background-color: #6baffd;
    margin-bottom: 20px;
    padding-left: 40px;
    height: 40px;
}

.table-contents {
    background-color: #f8fbff;
    margin-bottom: 10px;
}

h1 {
    font-family: inter;
    font-size: 24px;
    color: #434343;
}

h2 {
    font-family: inter;
    font-size: 18px;
    color: #434343;
}

p {
    font-family: inter;
    font-size: 14px;
    color: #434343;
}
